@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HussainExport.Client.Models.SaleContractItemVM

<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">*@
@*<form asp-action="Create">*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*<div class="form-group">
        <label asp-for="SaleContractId" class="control-label"></label>
        <select asp-for="SaleContractId" class="form-control" asp-items="ViewBag.SaleContractId"></select>
    </div>*@
<div class="form-group">
    <label asp-for="Quality" class="control-label"></label>
    <input asp-for="Quality" class="form-control" />
    <span asp-validation-for="Quality" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Article" class="control-label"></label>
    <input asp-for="Article" class="form-control" />
    <span asp-validation-for="Article" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Color" class="control-label"></label>
    <input asp-for="Color" class="form-control" />
    <span asp-validation-for="Color" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Size" class="control-label"></label>
    <input asp-for="Size" class="form-control" />
    <span asp-validation-for="Size" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UnitId" class="control-label"></label>
    <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Amount" class="control-label"></label>
    <input asp-for="Amount" class="form-control" />
    <span asp-validation-for="Amount" class="text-danger"></span>
</div>
@*<div class="form-group">
    <label asp-for="IsActive" class="control-label"></label>
    <input asp-for="IsActive" class="form-control" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DateAdded" class="control-label"></label>
    <input asp-for="DateAdded" class="form-control" />
    <span asp-validation-for="DateAdded" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DateUpdated" class="control-label"></label>
    <input asp-for="DateUpdated" class="form-control" />
    <span asp-validation-for="DateUpdated" class="text-danger"></span>
</div>*@
<div class="form-group">
    @*<input type="submit" value="Create" class="btn btn-primary" />*@
    <button id="btnCreateItem" type="button" class="btn btn-primary">Create Item</button>
</div>
@*</form>*@
@*</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@
<script> $(document).ready(function () {
    $("#btnCreateItem").click(function () {
        debugger;
        if ($("#Quality").val() != null && $("#Article").val() != '' && $("#Color").val() != null && $("#Size").val() != '' && $("#UnitId").val() != null && $("#Price").val() != '' && $("#Quantity").val() != null && $("#Amount").val() != '') {
            // Add product to Table
            ItemAddToTable();

            // Clear form fields
            formClear();

            // Focus to product name field
            $("#productname").focus();
        }
        //var createdItem = {
        //    "Quality": $("#Quality").val(),
        //    "Article": $("#Article").val(),
        //    "Color": $("#Color").val(),
        //    "Size": $("#Size").val(),
        //    "UnitId": $("#UnitId").val(),
        //    "Price": $("#Price").val(),
        //    "Quantity": $("#Quantity").val(),
        //    "Amount": $("#Amount").val()
        //}
    });

    function ItemAddToTable() {
        // First check if a <tbody> tag exists, add one if not
        if ($("#ItemTable tbody").length == 0) {
            $("#ItemTable").append("<tbody></tbody>");
        }

        // Append product to the table
        $("#ItemTable tbody").append("<tr>" +
            "<td>" + $("#Quality").val() + "</td>" +
            "<td>" + $("#Article").val() + "</td>" +
            "<td>" + $("#Color").val() + "</td>" +
            "<td>" + $("#Size").val() + "</td>" +
            "<td>" + $("#UnitId").val() + "</td>" +
            "<td>" + $("#Price").val() + "</td>" +
            "<td>" + $("#Quantity").val() + "</td>" +
            "<td>" + $("#Amount").val() + "</td>" +
            "</tr>");
    }

    function formClear() {
        $("#Quality").val("");
        $("#Article").val("");
        $("#Color").val("");
        $("#Size").val("");
        $("#UnitId").val("");
        $("#Price").val("");
        $("#Quantity").val("");
        $("#Amount").val("");
        $("divItem").empty();
     }
 });
</script>